/* CSS declarations go here */
.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {
    margin-top: 0px;
    font-size: 12px;
    color: lightgray;
}

.thumbnail {
    min-height: 380px;
    max-height: 420px;
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.055);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.055);
    box-shadow: 0 1px 3px rgba(0,0,0,.055);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.thumbnail .caption {
    padding: 9px;
    color: #555;
    height: 176px;
}